<!DOCTYPE html>
<html lang="en">

<body>
  <style>
    fieldset {
      background-color: #eeeeee;
    }

    legend {
      background-color: gray;
      color: white;
      padding: 5px 10px;
    }

    input {
      margin: 5px;
    }
  </style>
  <h3>Dheeraj Kumar Tatipamula</h3>
  <h3>1002003485</h3>
  <div>
    <a class="btn" href="/teacher">Teacher</a>
  </div>
  <div>
    <a class="btn" href="/students">Student</a>
  </div>
  <div>
    <a class="btn" href="2">Admin</a>
  </div>
  </div>

</body>

</html>