<!DOCTYPE html>
<html lang="en">


<head>
    <h1>Dheeraj Kumar Tatipamula -1002003485</h1>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<body>
    <style>
        fieldset {
            background-color: #eeeeee;
        }

        legend {
            background-color: gray;
            color: white;
            padding: 5px 10px;
        }

        input {
            margin: 5px;
        }
    </style>
    <div>
        <table>
            <tr>
                <th>
                    Name </th>
                <th>
                    ID
                </th>
                <th>
                    Age </th>
                <th>
                    {% for rec in data %}
            <tr>
                <td>
                    {{rec['id']}}
                </td>
                <td>
                    {{rec['name']}}
                </td>
                <td>
                    {{rec['age']}}
                </td>
            </tr>

            {% endfor %}
        </table>
    </div>
    <div>
        <form action="/admin" method="post" enctype="multipart/form-data">
            <label>
                course
            </label>
            <input type="number" name="course">
            <label>
                Section
            </label>
            <input type="number" name="section">
            <input type="submit" name="submit" value="Generate">
        </form>

    </div>
</body>

</html>